@font-face {
  font-family: 'MontExtraLight';
  src: url('fonts/mont_extralightdemo.ttf') format('truetype'),
      url('fonts/Mont-ExtraLightDEMO.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'MontHeavy';
  src: url('fonts/mont_heavydemo.ttf') format('truetype'),
      url('fonts/Mont-HeavyDEMO.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;

}

.container_main {
  display: flex;
  flex-grow: 1;
}

.main-content {
  flex: 1;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 20px 44px;
  background-color: #fff;
  width: 100%;
  height: 100px;
}

.logo {
  display: flex;
  height: 100px;
  padding-right: 15px;
  align-items: center;
  gap: 9px;
  border-right: 1px solid #E6EFF5;
}

.logo_text {
font-family: 'MontExtraLight', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 25px;
line-height: 32px;

color: #343C6A;
}

.line {
  margin-left: 13px;
width: 1px;
height: 100px;
background: #E6EFF5;
}

.line__max {
width: 1px;
height: 1024px;

background: #E6EFF5;
}

.header_buttons {
  display: flex;
  width: 100%;
  height: 100px;
  padding-left: 40px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E6EFF5;

}

.header_setting {
  margin-right: 5px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: clamp(0.938rem, -0.688rem + 3.25vw, 1.75rem);
line-height: 34px;
color: #343C6A;
}

.header_right {
  display: flex;
  align-items: center;
  gap: clamp(0.625rem, -1.875rem + 5vw, 1.875rem);
}

.header_button {
display: flex;
align-items: center;
justify-content: center;
width: 50px;
height: 50px;
border-radius: 50%;
background: #F5F7FA;
}

.search-bar {
padding: 16px 43px 16px 60px;
width: 255px;
height: 50px;
background: #F5F7FA;
border-radius: 40px;
border: none;
background-image: url(./img/Group\ \(12\).png);
background-size: 20px 20px;
background-repeat: no-repeat;
background-position: 20px center;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #ffffff;
  padding: 31px 0px 0px 0px;
  border-right: 1px solid #E6EFF5;
}

.nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  gap: clamp(0.625rem, -0.625rem + 2.5vw, 1.25rem);
}

.nav li {
  padding: 10px 0px 10px 44px;
  color: #B1B1B1;
  position: relative;
  cursor: pointer;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: clamp(0.875rem, 0.375rem + 1vw, 1.125rem);
line-height: 22px;

}

.nav li:hover {
  color: #1814F3; 
}

.nav li.active {
  color: #1814F3; 
}

.nav li.active::before {
  content: '';
  position: absolute;
  left: 0;
  top: -15%;
  background-color: #1814F3; 
  width: 6px;
  height: 60px;
  border-radius: 0px 10px 10px 0px;
}

.menu-item {
  display: flex;
  gap: 26px;
  align-items: center;
  padding: 10px 0;
  color: #B1B1B1;
  font-size: 16px;
  position: relative;
  cursor: pointer;
}

.menu-item .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;

}

.menu-item.active {
  color: #1814F3;
}

.menu-item:hover {
  color: #1814F3;
}

.menu-item:hover .icon {
  filter: none; 
}

.container_profile {
  display: flex;
  flex-direction: column;

margin: 30px clamp(0.625rem, -3.125rem + 7.5vw, 2.5rem) 0px clamp(0.625rem, -3.125rem + 7.5vw, 2.5rem);
background: #FFFFFF;
border-radius: 25px;
}

.profile_inform {
  width: 100%;
  position: relative;
}

.profile {
  padding: 55px 30px 30px 30px;
  display: flex;
  gap: 53px;
}

.profile_menu {
  display: flex;
  padding: 37px 0px 0px 0px;
  margin: 0 30px;
  border-bottom: 1px solid #F4F5F7;
}

.profile_menu ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.profile_menuLi {
  padding-bottom: 8px;
  margin-right: 60px;
  padding-left: 16px;
  position: relative;
}



.profile_menuLi a {

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  
      text-decoration: none;
      color: #718EBF;
      transition: color 0.3s;
  }
  
  .profile_menuLi::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 0;
      background-color: #1814F3;
      border-radius: 10px 10px 0px 0px;
      transition: width 0.3s;
  }
  
  .profile_menuLi.active::before{
      width: 114px;
  }
  
  .profile_menuLi.active a {
      color: #1D63FF;
  }
  
  .profile_menuLi:hover a {
      color: #1D63FF;
  }
  
  .input-container {
      position: relative;
      display: flex;
      align-items: center;
  }
  
  .form-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 22px 29px; 
      width: 100%;
      max-width: 836px;
      border-radius: 8px;
  }
  
  .form-field {
    display: flex;
    flex-direction: column;
    gap: 11px;
    position: relative;
      width: 100%; 
      max-width: 418px;

  }
  
  label {
      
  
  font-size: 16px;
  line-height: 19px;
  color: #232323;
  }
  
  .form-container input {

    flex-grow: 1;
      font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  
  box-sizing: border-box;
  position: relative;
  width: 100%; 
  max-width: 418px; 
  height: 50px;
  
  background: #FFFFFF;
  border: 1px solid #DFEAF2;
  border-radius: 15px;
  
      
      padding: 16px 20px;
  }
  
  input::placeholder {
  
  font-size: 15px;
  line-height: 18px;
  color: #718EBF;
  }
  
  input:focus {
      outline: none;
      border-color: #1D63FF; 
  }
  
  input.error {
      border-color: red;
  }
  
  .form-container input[type="date"] {
      color: #718EBF;
  }
  
  .form-container input[type="date"]::-webkit-calendar-picker-indicator {
      color: #718EBF;
  }
  
  button.calendar-button {
      position: absolute;
      right: 22px;
      background: none;
      border: none;
      cursor: pointer;
      color: #718EBF;
      padding: 0;
  }
  
  button.calendar-button svg path {
      stroke: #718EBF; 
      transition: stroke 0.3s ease;
  }
  
  button.calendar-button:hover svg path {
      stroke: #1814F3; 
  }
  
  .container_saveButtun {
      width: 100%;
      display: flex;
      justify-content: end;
      padding-top: 10px;
  }
  
  .saveButtun {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  
  text-align: center;
  color: #FFFFFF;
  width: 190px;
  height: 50px;
  background: #1814F3;
  border-radius: 15px;
  border: none;
  }

  .burger-menu {
    display: none; 
    position: absolute;
    z-index: 1000;
}

  @media (max-width: 1000px) {
    .form-container {
      display: grid;
      grid-template-columns: 1fr;

  }
  }

  
  @media (max-width: 800px) {
    .del800 {
      display: none;
  }

.burger-menu {
  display: block;
  cursor: pointer;
  color: #232323;
}
.nav {
  display: none;
}

.sidebar.active {
  position: absolute;
  top: 100px;
  left: 0;
  display: block;;
  z-index: 100;
}

.nav.active {
  display: block;
  position: absolute;
}

.header_setting {
  font-size: 20px;
  margin-left: 25%;
}
.profile_menuLi a {
  font-size: clamp(0.813rem, 0.647rem + 0.71vw, 1rem);
}

.header_photo {
  width: 35px;
  height: 35px;
}

.profile_menu {
  padding-top: clamp(1.375rem, 0.548rem + 3.53vw, 2.313rem);
  margin: 0 20px;
}

.profile_menuLi {
  margin-right: clamp(0.938rem, -1.544rem + 10.59vw, 3.75rem);
  padding-left: 5px;
}

.profile_menuLi.active::before {
  width: clamp(5rem, 3.125rem + 8vw, 7.125rem);
}

.profile {
  flex-direction: column;
  align-items: center;
}

.container_profile {
margin: 25px;

}

.saveButtun {
  width: 100%;
}

  }
  